<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <h2 style="color: rgb(82, 170, 126);padding-left: 500px;">ALAM SURYA COMPENY</h2>
    <br>
    <p>Dapatkan inspirasi dan temukan produk untuk rumah Anda. Kami memiliki berbagai macam produk dalam berbagai gaya,
        dari meja rias bergaya vintage hingga dapur modern. Kami juga memperhatikan detail-detail kecil yang membuat
        semua tampak berbeda - itulah sebabnya berbagai aksesori rumah kami meliputi karpet, lilin dan bingkai foto
        hadir untuk memberikan sentuhan akhir pada dekorasi Anda.</p>
    <p>Biarkan anak remaja Anda berkreasi dengan kamarnya. Kami menyediakan bantal kamar tidur hingga dekorasi berupa
        bingkai dinding agar mereka dapat menciptakan kombinasi yang sesuai dengan kepribadian. </p>
</body>

</html>